<h1><a href="/">Green Business Search</a> by Hawai'i Green Business Program</h1>

<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/program-description">About</a>
                <ul>
                    <li><a href="/program-description">Program Description</a></li>
                    <li><a href="/application-procedure">Application Procedure</a></li>
                    <li><a href="/resources">Resources</a></li>
                </ul>
        </li>
        <li><a href="/contact">Contact</a></li>

        <% if(user == null){ %>
            <li><a href="/login" class="button">Log In</a></li>
        <% }
        else{ 
            if(user.admin == true){ %>
                <li><a href="/admin">View Applications</a></li>
            <% }
            else{ %>
                <li><a href="/checklist">Application</a></li>
            <% } %>
            <li class="border">
                <a href="/account"><%= user.firstName%> <%= user.lastName%></a>
                    <ul>
                        <li><a href="/account">Account</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
            </li>
        <% } %>

    </ul>
</nav>
